<div class="row">

    <!-- <img class="profile" src="../../assets/jill.jpg"> -->
    <h1>About</h1>

    <p>Jill Pilkington has been a court reporter in Nebraska for 30 years.  Jill has provided quality, verbatim reporting involving medical malpractice, domestic, product liability, workers' compensation, anti-trust cases, and personal injury.  Jill has worked as an official court reporter for a judge in Omaha, Nebraska, for 11 years, as well as freelanced in Lincoln, Nebraska, for the remaining years of her career. </p> 

    <p>Jill has served on the Nebraska Court Reporters Association for four years.  While doing so, Jill worked closely with our lobbyists involving legislation that affected the court reporting profession. </p>
        
    <p>Jill holds the certifications of Registered Professional Reporter and Registered Merit Reporter, and is a current member of Nebraska Court Reporters Association and the National Court Reporters Association.</p>
</div>
