.jill {
    width: 20em;
    padding: 2em;
}

.home {
    width: 80%;
}
.mainContent {
    text-align: center;
}

.letter {
    width: 10%;
}

.letters {
    padding-top: 1em;
    padding-left: 10%;
    padding-right: 10%;
}

.intro {
    padding-top: 1.5em;
    font-size: 1.2em;
    padding-left: 10%;
    padding-right: 10%;
}
button:focus, button:active:focus, button.active:focus {
    outline: none !important;
    outline-style: none !important;
    }

    .scheduleButton {
        background-color: #353942;
        color: white;
      }