<h1 class="row">Services</h1>
<div class="row">
    <p>Here at Pilkington Reporting, we aim to offer a diverse amount of services at the highest quality. Here are the services we currently provide:</p>
    
    <ul>
        <li>Covering depositions, sworn statements, administrative hearings</li>
        <li>Condensed Transcripts</li>
        <li>   Word Indices</li>
        <li>  Electronic files in all formats, including PDF, E-transcript and ASCII</li>
        <li>   Videography</li>
        <li>   Expedited copy</li>
    </ul>
    <img class="profile" src="../../assets/schedule-pic.jpg">
</div>