<!--replace everything in this file with the code below.-->

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="#"><img class="navBarLogo" src="../../assets/whitelogo.png"></a>
  <div class="navItemList">
    <a class="navbar navItem" routerLink="/home">Home</a>
    <a class="navbar navItem" routerLink="/about">About</a>
    <a class="navbar navItem" routerLink="/schedule">Scheduling</a>
    <a class="navbar navItem" routerLink="/services">Services</a>
    <a class="navbar navItem" routerLink="/contact">Contact</a>
  </div>
</nav>
<router-outlet></router-outlet>
